.DS_Store
/web/node_modules
/api/node_modules
/mobile/node_modules
/web/dist
/mobile/dist

# local env files
/web/.env.local
/api/.env.local
/mobile/.env.local
/web/.env.*.local
/api/.env.*.local
/mobile/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
